.card {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	border-radius: 10px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	transform-origin: center top;
	transform-style: preserve-3d;
	transform: translateZ(0);
	transition: 0.3s;
}

.card img {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	width: 100%;
	min-height: 100%;
}
