.headerWrapper {
	padding: 2.5vh 2vw;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	z-index: 1;
}

.headerTextLarge {
	font-size: 32px;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
}

.headerTextSmall {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
}

@media only screen and (max-width: 570px) {
	.headerWrapper > img {
		width: 7vw;
	}

	.headerTextLarge {
		font-size: 3vw;
	}

	.headerTextSmall {
		font-size: 1.6vw;
	}
}
