.entry:hover .joinIconsWrapper img:nth-child(2),
.entry:active .joinIconsWrapper img:nth-child(2) {
	opacity: 1;
}

.gameInfo {
	margin-right: 3vw;
}

.joinIconsWrapper {
	display: grid;
	grid-template-columns: 1fr;
	margin-left: 0.8vw;
}

.joinIconsWrapper > img {
	grid-row-start: 1;
	grid-column-start: 1;
	-webkit-transition: opacity 0.15s ease-in-out;
	-moz-transition: opacity 0.15s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;
}

.joinIconsWrapper > img:nth-child(2) {
	opacity: 0;
}
