.alertPanel {
	color: #ffffff;
	text-align: center;
}

@media screen and (orientation: portrait) {
	.alertPanel {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.contentPanel {
		display: none;
	}
}

@media screen and (orientation: landscape) {
	.alertPanel {
		display: none;
	}

	.contentPanel {
		display: block;
	}
}
