/*------------------------------------------------General------------------------------------------------*/
.wrapper {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto 1fr;
}

/*------------------------------------------------Header------------------------------------------------*/
.infoWrapper {
	margin-top: -10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

@media only screen and (max-width: 570px) {
	.infoWrapper {
		margin-top: 0px;
	}
}

/*------------------------------------------------Option cards------------------------------------------------*/
.optionsWrapper {
	grid-area: 2 / 1 / 2 / 1;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.options {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.cardWrapper {
	margin: 0 0.5vw;
}

.card {
	width: 250px;
	height: 400px;
}

.cardContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	text-align: center;

	cursor: pointer;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.cardContent > p {
	font-size: 38px;
	font-weight: 500;
}

.cardContent > img {
	width: 135px;

	-webkit-user-drag: none;
}

.quickJoinCard:hover,
.quickJoinCard:active {
	cursor: default;
}

.QRCodeWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.QRCodeWrapper > div {
	margin-top: 15px;
}

@media only screen and (max-width: 1350px) {
	.card {
		width: 17vw;
		height: 25vw;
	}

	.cardContent > p {
		font-size: 2.5vw;
		font-weight: 500;
	}

	.cardContent > img {
		width: 8vw;

		-webkit-user-drag: none;
	}
}
