.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.formWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}

.recaptcha {
	display: block;
}

/*------------------------------------------------Card content------------------------------------------------*/
.cardContentWrapper {
	display: flex;
	flex-direction: column;
	width: 16vw;
	height: 26vw;
	padding: 1vw;
}

.cardContentWrapperCenter {
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 1500px) {
	.cardContentWrapper {
		width: 16vw;
		height: 25vw;
	}
}

@media only screen and (max-width: 1100px) {
	.cardContentWrapper {
		width: 18vw;
		height: 27vw;
	}
}

@media only screen and (max-width: 900px) {
	.cardContentWrapper {
		width: 20vw;
		height: 29vw;
	}
}

@media only screen and (max-width: 700px) {
	.cardContentWrapper {
		width: 24vw;
		height: 33vw;
	}
}

/*------------------------------------------------Input fields------------------------------------------------*/
.inputWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.inputWrapper > * {
	margin-bottom: 0.8vw;
}
