.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto 1fr;
}

.tabContent {
	grid-area: 3 / 1 / 3 / 1;
	overflow: auto;
}

/*------------------------------------------------Navigation buttons------------------------------------------------*/
.navButtons {
	display: flex;
	flex-direction: row;
}

.navButtons > div > button {
	border-radius: 0;
}

.navButtons > div:first-child > button {
	border-radius: 6px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.navButtons > div:last-child > button {
	border-radius: 6px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/*------------------------------------------------End screen------------------------------------------------*/

.endScreenWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #000000;
}

.endScreenContent {
	background-color: whitesmoke;
	padding: 30px;
	border-radius: 10px;
	-webkit-box-shadow: -2px 2px 13px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -2px 2px 13px -5px rgba(0, 0, 0, 0.75);
	box-shadow: -2px 2px 13px -5px rgba(0, 0, 0, 0.75);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.endScreenContent > img {
	width: 100px;
	margin-bottom: 30px;
}
