/*------------------------------------------------General------------------------------------------------*/
.wrapper {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto 1fr;
}

/*------------------------------------------------Search and filter------------------------------------------------*/
.searchWrapper {
	flex-grow: 1;
	display: flex;
	margin-left: 2vw;
}

.searchWrapper > input {
	width: 100%;
	margin-right: 10px;
}

/*------------------------------------------------Entries------------------------------------------------*/
.entries {
	grid-area: 2 / 1 / 2 / 1;
	padding: 2vh 2vw;
	overflow-y: scroll;
}
